SPRING_ACTIVE_PROFILE=prod
RM_REPOSITORY_URL=http://localhost:7200/repositories/record-manager-app
FORMGEN_REPOSITORY_URL=http://localhost:7200/repositories/record-manager-formgen
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI=http://localhost:1235/services/auth/realms/record-manager
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI=http://localhost:1235/services/auth/realms/record-manager/protocol/openid-connect/certs